* {
    box-sizing: border-box;
}


html {
    font-family: 'Corinthia','Zhi Mang Xing', cursive, "Times New Roman", sans-serif;
}

html li{
    font-size:25px;
}

nav, header, footer {
    display: block;
}

header div.headerLogo h1{
    font-size: 60px;
    text-align: center;
    width: 100%;
    background-color: #1E90FF; 
}


body{
    margin: 0;
    line-height: 1;
}

.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

h1 {
    text-align: center;
    color: white;
    font-size: 45px;
    *background-color: black;
    text-shadow: 5px 5px 10px #1E90FF;
    margin: 0;
    padding: 10px;
}



img {
    *max-height: 100%;
    max-width: 100%;
}

/*****Nav Bar*****/

nav{
    width: 100%;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ;
}

nav ul li {
    list-style: none;
    float:left;
}


ul.topNav li a{ 
    list-style: none;
    display: inline-flex;
    float: left;
    text-align: left;
    *margin: 0% 3% 0% 3%;
    text-decoration: none;
    max-width:100%;
    min-height: 15px;
    padding: 16px;
    color: #1E90FF;
}

ul.topNav li a:hover{
    background-color: lightblue;
    
}

ul #ddb {
    margin: 0% 3% 0% 3%;
    display:flow-root;
    text-align: end;
    font-size: 15px;
    
}

ul.topNav li.dropdownicon{
    display: none;
}


/*########### Mobile #########*/

@media screen and (max-width: 680px) {
    ul.topNav li:not(:nth-child(1)){
        display: none;
    }
    
    ul.topNav li.dropdownicon{
        display: block;
        float: right;
    }
    
    ul.topNav.responsive{
        position: relative;
        
    }
    
    ul.topNav.responsive li.dropdownicon {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topNav.responsive li{
        display: inline;
        float: none;
    }
    
    ul.topNav.responsive li a {
        display:block;
        text-align: left;
    }
    
    div.col-6, div.col-4 {
        width: 100%;
        margin: 0;
    }
    
    div.leftside-col, div.rightside-col {
        margin: 15px;
    }
    
    input[type="text"] {
        width:200px;
    }
    
    .videocontainer iframe {
        position: relative;
        width: 460px;
        margin: 0;
        overflow: hidden;
    }
    
    div.box{
        padding: 5px;
        display: block;
    }
}

/##########Forms##########/

.container2 {
    margin: auto;
    max-width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
}

#section-1-gradient {
    background: linear-gradient(180deg, rgba(237,156,156,1) 4%, rgba(240,12,136,1) 52%, rgba(240,12,136,1) 60%, rgba(240,12,136,1) 81%, rgba(240,12,136,1) 88%);
    *background: linear-gradient(to bottom, #076DFF, #65a5ff);
    *background: linear-gradient(#076DFF, #65a5ff)
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 0px 20px 0px;
}


.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

div.leftside-col {
    margin-left: 15%;
    min-height: 50%;
    position: relative;
}


div.rightside-col{
    margin-left: 5%;
    width: 50%;
}


h1.largeh1 {
    color: #fff;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
    text-align: left;
    padding: 0;
}

h2.largeh2 {
    font-size: 20px;
    font-family: 'Corinthia';
    
}

form{
    font-size: 25px;
    font-family:  'Corinthia';
}

form p {
        margin: 10px 0px 0px 5px;
}

form h2 {
    margin: 5px 0px 5px 5px;
    color: #fff;
    
}


div.imageContainer {
    display: inline;
}

div.box {
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.16), 0 2px 3px 0 rgba(0,0,0,.1);
    max-width: 100%;
    padding: 2px;
    min-height: 290px;
    box-sizing: border-box;
    border-radius: 2px;
}

div.image {
    min-width:30%;
    
}

div.col-4{
    width: 30%;
    margin: 0% 1.5% 0% 1.5%;
    box-sizing: border-box;
}

label.imageTxt {
    display: table;
    width: 100%;
    vertical-align: middle;
}

label a{
    text-decoration: none;
    font-size: 35px;   
    display: table-cell;
    vertical-align: middle;
}

label.imageTxt a p{
    text-align: center;
    display: block;
    margin: 10px 0 10px 0;
    min-height: 70px;
}
/*

label a{
    text-align: center;
    text-decoration: none;
    font-size: 35px;   
    vertical-align: middle;
}

label.imageTxt a p{
    padding: 0;
    margin: 10px 0 10px 0;
    min-height: 35px;
    vertical-align: middle;
}
*/

button{
    text-align:center;
    font-size: 15px;
    height: 30px;
    width:90px;
    margin: 5px 0px 0px 0px; 

}

div button.subscription{
    height: 35px;
    margin: 0;
    padding: 2px 0px 0px 0px;
    border-width: 1px;
    border-color: grey;
}


button.findoutmore {
    height: 40px;
    width: 200px;
    border: 0;
    background-color: #1e3c84;
    color: #fff;
    display: block;
    margin: auto;
    font-weight: 400;
}

button.findoutmore:hover{
    background-color: #2c58c2;
}


footer{
    background-color: #f6f6f6;
    padding: 0;
    margin: 0;
}

div.col-3 {
    padding: 5px 20px 5px 20px;
    margin: 0 20px 0 20px;
}

form div.emailaddressbar input {
    margin: 0px 0px 0px 10%;
    border-width: 1px 0px 1px 1px;
    border-top-color: grey;
    width:50%;
}

input[type="text"]{
    font-size: 20px;
    padding: 5px;
    border-color: grey;
}

footer.siteMainFooter div.row div.col-6 div h1, a{
    text-decoration: none;
    text-align: left;
    padding: 10px 0px 10px 0px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li, ul li a{
    list-style: none;
    text-decoration: none;
}





